.layoutHistorico {
    display: flex;
}

.containerPrincipalSolicitacao {
    width: 94vw;
}

.headerHistorico {
    display: flex;
    padding: 2em 2em;
}

.containerHistorico {
    width: 100%;
    padding: 0 2em;

    .formMain {
        display: flex;
        justify-content: space-between;
    }
}

.btnMotivo {
    border: none;
    transition: transform 0.2s ease;

    :hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}


