.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modalContent {
    position: relative;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;

    p {
        font-size: 1rem;
        padding: 1em 0;
        color: #1f2937;
    }
}

.closeButton {
    position: absolute;
    top: 12px;
    right: 16px;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #001A3D;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.2);
        color: #024194;
    }
}
